.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    display: block;
    &.hidden {
        display: none;
    }
    &-menu {
        display: flex;
        &-item {
            flex-grow: 1;
        }
        &-badge {
            margin-right: 5px;
            button {
                margin-top: -5px;
            }
            &-icon {
                span {
                    right: -3px;
                    top: 13px;
                    padding: 0 1px;
                    height: 18px;
                }
            }
            &.hidden {
                display: none;
            }
        }
    }
}
.badge {
    margin-right: 5px;
    button {
        margin-top: -5px;
    }
    &-icon {
        span {
            right: -3px;
            top: 13px;
            padding: 0 1px;
            height: 18px;
        }
    }
    &.hidden {
        display: none;
    }
}
