.home-page {
    .home-page-hot {
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            p {
                margin: 5px 0px;
            }
            .home-page-hot-title {
                font-weight: bold;
            }
            .home-page-hot-subtitle {
                color: #a6ada8;
            }
        }
    }
}
